@charset "utf-8";
/* CSS Document */
html {
  -webkit-text-size-adjust: none;
  /*解决 Chrome 浏览器中设置小于 12px 的字体大小问题*/
  font-size: 12px;
}
body,
div,
ul,
li,
img,
p,
form,
h2 {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Microsoft YaHei", "微软雅黑", Arial;
  max-width: 1440px;
  margin: 0 auto;
  min-width: 1002px;
}
.fontsong {
  font-family: "宋体";
}
.yahei {
  font-family: "Microsoft YaHei", "微软雅黑", Arial;
}
/* Mixin */
/* Mixin */
a {
  text-decoration: none;
  color: #2c2c2c;
}
a:hover {
  color: #ec1e13;
}
ul,
li {
  list-style: none;
}
.clear {
  clear: both;
}
.b {
  font-weight: bold;
}
.dib-wrap {
  font-size: 0;
  /* 所有浏览器 */
  *word-spacing: -1px;
  /* IE6、7 */
}
.dib-wrap .dib {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: middle;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  /* firefox 中 letter-spacing 会导致脱离普通流的元素水平位移 */
  .dib-wrap {
    letter-spacing: -5px;
    /* Safari 等不支持字体大小为 0 的浏览器, N 根据父级字体调节*/
  }
}
.dib {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.clearfix:after {
  display: block;
  clear: both;
  content: ".";
  height: 0px;
  overflow: hidden;
}
* + html .clearfix {
  height: 1%;
}
*html .clearfix {
  height: 1%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.center {
  text-align: center;
}
.hid {
  display: none;
}
.show {
  display: block;
}
.pagebar {
  float: left;
  left: 50%;
  overflow: visible;
  position: relative;
}
.pages {
  MARGIN: 0px auto;
  float: left;
  position: relative;
  right: 50%;
  overflow: visible;
  color: #151414;
}
.pagediv {
  margin-top: 30px;
  height: 96px;
  overflow: hidden;
  position: relative;
  padding-top: 50px;
  /*border-top:#cdcdcd 1px solid;*/
}
.pages a {
  display: inline;
  float: left;
  width: 24px;
  border: #163a6b 1px solid;
  text-align: center;
  margin: 0 9px 0 0;
  font-size: 14px;
  font-family: "arial";
  color: #3f80d8;
  line-height: 24px;
  height: 24px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px;
}
.pages a.prepage,
.pages a.firstpage {
  font-size: 18px;
}
.pages a.nextpage,
.pages a.lastpage {
  font-size: 18px;
}
.pages a.curpage {
  border: #3f80db 1px solid;
  background: #3f80db;
  color: #fff;
  /*border:0;
	line-height:28px;
	
	font-weight:bold;
	font-size:16px;*/
}
.pages a.page_dian {
  background: none;
}
.pages .ipt_page {
  width: 32px;
  height: 26px;
  border: #ddd 1px solid;
  background: #fff;
  padding: 0;
  margin: 0;
  line-height: 22px;
  text-align: center;
  float: left;
}
.pages #GoPage {
  width: 42px;
  height: 26px;
  border: #ddd 1px solid;
  background: #fff;
  padding: 0;
  margin: 0;
  line-height: 20px;
  text-align: center;
  float: left;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pages .txt {
  line-height: 24px;
  float: left;
  margin: 0 5px;
}
.main {
  width: 1002px;
  margin: 0 auto;
}
.nmain {
  width: 1002px;
  margin: 0 auto;
}
.block {
  display: block;
  width: 100%;
  height: 100%;
}
html,
body {
  overflow-x: hidden;
}
.red {
  color: #f00;
}
.user_index_head .fr {
  margin-right: 84px;
}
.user_index_head .fl .username {
  color: #221815;
  font-size: 14px;
}
.user_index_head .fl .userproperty {
  color: #999;
  font-size: 14px;
  line-height: 30px;
}
.user_index_midline {
  height: 34px;
  line-height: 34px;
  padding-left: 20px;
  border: #e3e3e3 1px solid;
  background: #f7f7f7;
}
.user_index_midline a {
  padding: 0 5px;
}
.user_index_midline span {
  color: #f6a93d;
  font-weight: bold;
}
.user_index_plist .tit {
  font-size: 14px;
  font-weight: bold;
  color: #221815;
  padding-bottom: 6px;
  border-bottom: #e3e3e3 1px dashed;
}
.user_index_plist ul {
  padding: 30px 0 0 20px;
}
.user_index_plist ul li {
  width: 25%;
  float: left;
}
.user_index_plist ul li .pic {
  border: #e6e6e6 1px solid;
  width: 124px;
  height: 124px;
}
.user_index_plist ul li .pic img {
  width: 124px;
  height: 124px;
}
.user_index_plist ul li .txt {
  height: 20px;
  line-height: 20px;
  border: #e6e6e6 1px solid;
  background: #f6f6f6;
  padding-left: 20px;
  width: 104px;
  border-top: none;
}
.user_index_plist ul li .txt a {
  color: #f00;
}
.head .loginin {
  position: absolute;
  right: 0;
  top: 24px;
  text-align: right;
  line-height: 16px;
  height: 16px;
  color: #3e3a39;
}
.head .loginin a {
  color: #969696;
}
.head .loginin .rt-cart {
  float: left;
  background: url(../images/cart-rt.jpg) no-repeat;
  margin-right: 10px;
  padding-left: 20px;
}
.head .loginin .rt-cart #cartnum {
  color: #3f80d8;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 0 2px;
}
.head .loginin .rt-user {
  float: left;
  background: url(../images/user-rt.jpg) no-repeat;
  padding-left: 20px;
  padding-right: 20px;
}
.banner {
  position: relative;
  top: 0;
  max-width: 1440px;
  overflow: hidden;
}
.banner .hd {
  position: absolute;
  z-index: 10;
  bottom: 20px;
  width: 426px;
  height: 52px;
  left: 50%;
  margin-left: -207px;
}
.banner .hd ul li.on {
  width: 121px;
  height: 48px;
  border: #fff 2px solid;
}
.banner .hd ul li.on img {
  width: 121px;
  height: 48px;
}
.banner .hd ul li {
  width: 125px;
  height: 52px;
  border: 0;
  cursor: pointer;
  float: left;
  margin-right: 17px;
}
.banner .hd ul li img {
  width: 125px;
  height: 52px;
}
.banner .bd ul li {
  width: 100%;
  height: 330px;
}
.im1-head {
  overflow: hidden;
  height: 36px;
}
ul.newslist li {
  line-height: 30px;
  height: 29px;
  border-bottom: #8a8a8a 1px dotted;
}
.foot .main {
  position: relative;
  padding-top: 47px;
  line-height: 34px;
}
.foot .main .line3 {
  color: #9e9e9e;
}
.foot .main .line3 a {
  color: #9e9e9e;
}
.foot .main .line1 {
  height: 34px;
  color: #969595;
}
.foot .main .line1 a {
  color: #969595;
}
.foot .main .line1 .f-addr {
  background: url(../images/location_03.png) 0 5px no-repeat;
  padding-left: 16px;
}
.foot .main .line1 .f-tel {
  background: url(../images/phone_03.png) 0 8px no-repeat;
  padding-left: 20px;
}
.foot .main .line1 .f-email {
  background: url(../images/email_03.png) 0 8px no-repeat;
  padding-left: 20px;
}
.foot .main .line1 .f-url {
  background: url(../images/network_03.png) 0 8px no-repeat;
  padding-left: 20px;
}
.foot .main .line1 .split {
  margin: 0 15px;
}
.foot .main .foot-r {
  position: absolute;
  right: 0;
  top: 60px;
}
.cleft {
  width: 250px;
  position: relative;
  min-height: 500px;
}
.cleft .subnav {
  position: absolute;
  top: -60px;
  left: 0;
  width: 216px;
  background: url(../images/cleft-yingyin.png) 210px 0 no-repeat;
  min-height: 500px;
}
.cleft .subnav .subnav-d1 {
  width: 210px;
  height: 60px;
  background: url(../images/subnav-d1-bg.jpg);
  line-height: 60px;
  text-align: center;
  font-size: 20px;
  font-family: "Microsoft YaHei", "微软雅黑", Arial;
  font-weight: bold;
}
.cleft .subnav .subnav-d1 a {
  color: #fff;
}
.cleft .subnav ul li {
  width: 126px;
  height: 32px;
  padding-top: 18px;
  background: url(../images/subnav-li-bg.jpg) no-repeat;
  padding-left: 90px;
}
.cleft .subnav ul li a {
  color: #163a6b;
  font-size: 14px;
  font-weight: bold;
}
.cleft .subnav ul li.select,
.cleft .subnav ul li:hover {
  background: url(../images/subnav-li-hov-bg.png) no-repeat;
}
.cleft .subnav ul li.select a,
.cleft .subnav ul li:hover a {
  color: #fff;
}
.cright {
  width: 750px;
}
.cright .curlocation {
  height: 32px;
  line-height: 32px;
  padding-top: 10px;
  border-bottom: #cfcfcf 1px solid;
}
.cright .mcontent {
  padding: 20px;
}
.maincontent ul {
  padding: 15px 0;
  clear: both;
}
.maincontent ul li.newslist {
  width: 714px;
  padding-left: 16px;
  height: 41px;
  background: url(../images/newlist-bg.jpg) no-repeat;
  line-height: 40px;
}
.maincontent ul li.newslist a {
  font-size: 14px;
}
.maincontent ul li.newslist .time {
  float: right;
  color: #959595;
  font-size: 14px;
}
.newscenter .newscentertitle {
  color: #3f80d8;
  text-align: center;
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  padding-top: 30px;
  font-size: 14px;
  font-family: "Microsoft YaHei", "微软雅黑", Arial;
}
.newscenter .laiyuan {
  font-size: 12px;
  text-align: center;
  line-height: 24px;
  height: 24px;
  padding: 12px 0;
  color: #969696;
  border-bottom: #ddd 1px dotted;
  margin-bottom: 20px;
}
.newscenter .newscontent {
  font-size: 14px;
}
.newscenter .newscontent img {
  text-align: center;
  margin: 10px auto;
}
.newscenter .newscontent #player {
  margin: 0 auto;
}
.newscenter .newscontent p {
  margin: 10px 0;
}
.cleft .subnav ul li.subnav-d3 {
  height: 26px;
  padding-left: 76px;
  padding-top: 4px;
  line-height: 26px;
  background: url(../images/rsj-sub.jpg) 66px 13px no-repeat;
}
.cleft .subnav ul li.subnav-d3 a {
  font-size: 12px;
  color: #bebebe;
  font-weight: normal;
}
.cleft .subnav ul li.subnav-d3.select {
  background: url(../images/bsj-sub.jpg) 63px 13px no-repeat;
}
.cleft .subnav ul li.subnav-d3.select a {
  color: #3f80d8;
}
.cleft .subnav ul li.subnav-d4 {
  height: 26px;
  padding-left: 90px;
  padding-top: 0;
  line-height: 26px;
  background: url(../images/rsj-sub.jpg) 78px 10px no-repeat;
}
.cleft .subnav ul li.subnav-d4 a {
  font-size: 12px;
  color: #bebebe;
  font-weight: normal;
}
.cleft .subnav ul li.subnav-d4.select {
  background: url(../images/bsj-sub.jpg) 75px 10px no-repeat;
}
.cleft .subnav ul li.subnav-d4.select a {
  color: #3f80d8;
}
.cleft .subnav ul li.subnav-d5 {
  height: 26px;
  padding-left: 100px;
  padding-top: 0;
  line-height: 26px;
  background: none;
}
.cleft .subnav ul li.subnav-d5 a {
  font-size: 12px;
  color: #bebebe;
  font-weight: normal;
}
.cleft .subnav ul li.subnav-d5.select {
  background: none;
}
.cleft .subnav ul li.subnav-d5.select a {
  color: #3f80d8;
}
.cleft .subnav .sub-line {
  height: 1px;
  width: 210px;
  background: #cfcfcf;
}
.goodslist {
  padding-top: 10px;
}
.goodslist ul li {
  width: 238px;
  margin-bottom: 30px;
  height: 350px;
  border: #cecfcf 1px solid;
  float: left;
  margin-right: 15px;
}
.goodslist ul li .pro-pic {
  height: 228px;
  border-bottom: #cecfce 1px solid;
}
.goodslist ul li .pro-pic img {
  width: 238px;
  height: 228px;
}
.goodslist ul li .l2 {
  height: 66px;
  border-bottom: #cecfcf 1px solid;
  padding: 10px 14px;
}
.goodslist ul li .l2 .price {
  font-size: 14px;
  color: #ff0000;
}
.goodslist ul li .l2 .intro {
  color: #cecfcf;
  line-height: 20px;
  padding-top: 5px;
}
.goodslist ul li .l3 {
  height: 34px;
  line-height: 34px;
  text-align: center;
  background: #f6f6f6;
}
.goodslist ul li .l3 a {
  color: #3e3a39;
}
#goodsshow .shop_plist a.prev {
  float: left;
  width: 20px;
  height: 68px;
  display: block;
  outline: none;
  background: url(../images/ico_left.gif) no-repeat center;
  line-height: 68px;
  margin-top: 12px;
}
#goodsshow .right .gline .price {
  color: #f00;
  line-height: 30px;
  padding: 0px 0;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.right .gline {
  line-height: 30px;
  height: auto;
  overflow: hidden;
}
.right .gline .fl {
  width: 65px;
  color: #999;
  font-weight: bold;
}
.right .gline .fr {
  width: 450px;
  float: left;
  color: #999;
}
.right .relgoods {
  border-top: #bababa 1px solid;
}
.right .relgoods .tit {
  height: 32px;
  line-height: 32px;
  padding-top: 1px;
  color: #999;
  font-size: 12px;
}
.right .relgoods ul li {
  float: left;
  line-height: 26px;
  height: 26px;
  padding: 0 20px;
  border: #ccc 1px solid;
  margin: 0px 8px 12px 0;
}
.right .relgoods ul li:hover {
  border: #e4393c 1px solid;
}
#cpxj {
  border: #e6e6e6 1px solid;
}
#cpxj .tit {
  padding: 0 20px;
  height: 34px;
  line-height: 34px;
  background: url(../images/cpxj-tit-bg.jpg) repeat-x;
}
#cpxj .con {
  padding: 20px;
}
.gtable .row {
  clear: both;
  overflow: hidden;
  margin: 10px 0;
}
.gtable .row .fl {
  width: 127px;
  font-size: 14px;
  vertical-align: middle;
}
.gtable .row .fr {
  width: 445px;
  float: left;
  text-align: left;
}
.gtable .row .fr .fm_name,
.gtable .row .fr .fm_tel,
.gtable .row .fr .fm_content,
.gtable .row .fr .fm_email {
  width: 200px;
  height: 28px;
  border: #b1b1b2 1px solid;
  line-height: 28px;
  padding: 2px;
}
.gtable .row .fr .fm_content {
  width: 420px;
  height: 108px;
}
.gtable .row .fr .fm_email {
  width: 260px;
}
.gtable .row .fr .fm_sub {
  width: 55px;
  height: 28px;
  background: url(../images/submit.png);
  border: 0;
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
